# Compiled class file
*.class

# Log file
*.log
!/database/src/test/resources/static-data/*.log
!/database/src/test/resources/stress-test-inmemory-only/*.log

# Package Files #
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

**/*/target
/.idea/
/build/
/database/out
/database/src/test/resources/ephemeral-directory/*

little-db.iml
.gradle